<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER-SIGN UP</title>
</head>
<body>
    <h1>Fill the form to be our user:</h1>
    <form action="/user" method="POST">
        <input type="text" name="username" placeholder="enter a username">
    <hr>
        <input type="text" name="email" placeholder="enter your email.">
        <hr>
        <input type="password" name="password" placeholder="enter new password">
        <hr>
        <button type="submit">Submit</button>
    </form>
</body>
</html>